<h1>Gestor de superhéroes</h1>

<button class="add-button" type="button" (click)="toggleAddForm()">Añadir nuevo héroe</button>

<div *ngIf="showAddForm" class="add-form">
  <h2>Añadir un nuevo héroe</h2>
  <form (submit)="onAdd()">
    <label for="name">Nombre:</label>
    <input type="text" id="name" name="name" [(ngModel)]="newHero.name" required>
    <label for="superpower">Superpoder:</label>
    <input type="text" id="superpower" name="superpower" [(ngModel)]="newHero.superpower" required>
    <button type="submit">Guardar</button>
  </form>
</div>

<ul class="heroes">
    <li *ngFor="let hero of heroes">
        <span class="hero-badge">Nº: {{hero.id}}</span>
        <span class="hero-name">Nombre: {{hero.name}}</span>
        <span class="hero-superpower">Superpoder: {{hero.superpower}}</span>
        <button class="edit-button" type="button" (click)="onSelect(hero)">Editar</button>
        <button class="delete-button" type="button" (click)="onDelete(hero)">Borrar</button>
    </li>
</ul>

<div *ngIf="selectedHero" class="edit-form">
    <h2>Editar Superhéroe</h2>
    <form (submit)="onEdit()">
      <label for="editName">Nombre:</label>
      <input type="text" id="editName" name="editName" [(ngModel)]="selectedHero.name" required>
      <label for="editSuperpower">Superpoder:</label>
      <input type="text" id="editSuperpower" name="editSuperpower" [(ngModel)]="selectedHero.superpower" required>
      <button type="submit">Guardar cambios</button>
    </form>
  </div>
  


